<!--Form for new user to submit basic personal information-->
<!--Author: Chad Drennan-->
<!--File: frm-personal-info.html -->
<!--Date Created: 1/25/2020-->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/328/dating/images/dating-icon.png">

    <!-- Site CSS -->
    <link rel="stylesheet" href="/328/dating/styles/site.css">

    <title>Create Profile | My Dating Website</title>
</head>
<body>
<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <a class="navbar-brand" href="/328/dating">My Dating Website</a>
</nav>

<main class="container border rounded clearfix ">

    <h1>Personal Information</h1>
    <hr>

    <form action="#" method="post">
        <div class="row">
            <div class="col-md-8">

                <!-- First Name -->
                <div class="form-group">
                    <label for="f-name">First Name</label>
                    <input id="f-name" name="f-name" type="text" class="form-control" value="{{ @fName }}">

                    <check if="{{ in_array('fNameRequired', @errors) }}">
                        <span class="error text-danger">Required</span>
                    </check>

                    <check if="{{ in_array('fNameInvalid', @errors) }}">
                        <span class="error text-danger">Only letters are allowed</span>
                    </check>
                </div>

                <!-- Last Name -->
                <div class="form-group">
                    <label for="l-name">Last Name</label>
                    <input id="l-name" name="l-name" type="text" class="form-control" value="{{ @lName }}">

                    <check if="{{ in_array('lNameRequired', @errors) }}">
                        <span class="error text-danger">Required</span>
                    </check>

                    <check if="{{ in_array('lNameInvalid', @errors) }}">
                        <span class="error text-danger">Only letters are allowed</span>
                    </check>
                </div>

                <!-- Age -->
                <div class="form-group">
                    <label for="age">Age</label>
                    <input id="age" name="age" type="text" class="form-control" value="{{ @age }}">

                    <check if="{{ in_array('ageRequired', @errors) }}">
                        <span class="error text-danger">Required</span>
                    </check>

                    <check if="{{ in_array('ageInvalid', @errors) }}">
                        <span class="error text-danger">Must be a number between 18 and 118</span>
                    </check>
                </div>

                <!-- Gender -->
                <div class="form-group">
                    <p class="mb-2 check-label">Gender</p>

                    <!-- Male -->
                    <div class="form-check form-check-inline">
                        <input id="male" type="radio" name="gender" value="male" class="form-check-input"
                            <check if="{{ @gender == 'male' }}">checked</check>
                        >
                        <label for="male" class="form-check-label">Male</label>
                    </div>

                    <!-- Female -->
                    <div class="form-check form-check-inline">
                        <input id="female" type="radio" name="gender" value="female" class="form-check-input"
                            <check if="{{ @gender == 'female' }}">checked</check>
                        >
                        <label for="female" class="form-check-label">Female</label>
                    </div>
                </div>

                <!-- Phone -->
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input id="phone" name="phone" type="text" class="form-control" value="{{ @phone }}">

                    <check if="{{ in_array('phoneRequired', @errors) }}">
                        <span class="error text-danger">Required</span>
                    </check>

                    <check if="{{ in_array('phoneInvalid', @errors) }}">
                        <span class="error text-danger">Invalid phone format</span>
                    </check>
                </div>
            </div><!-- col-md-8 -->

            <!-- Notice -->
            <div class="col-md-4">
                <div class="card bg-light text-center">
                    <div class="card-body">
                        <strong>Note:</strong> All information is protected by our <a href="#">privace policy</a>.
                        Profile information can only be viewed by others with your permission.
                    </div>
                </div>
            </div> <!-- col-md-4 -->
        </div> <!-- row -->

        <button class="btn btn-primary float-right" type="submit">Next ></button>
    </form>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>