<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Site CSS -->
    <link rel="stylesheet" href="">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/dating-icon.png">

    <title>My Dating Website</title>
</head>
<body>
<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <a class="navbar-brand" href="/328/dating">My Dating Website</a>
</nav>

<main class="container border rounded">
    <h1>Interests</h1>
    <hr>

    <form action="results" method="post">

        <p>In-door Interests</p>

        <input id="tv" name="indoor-interests[]" value="tv" type="checkbox">
        <label for="tv">tv</label>

        <input id="movies" name="indoor-interests[]" value="movies" type="checkbox">
        <label for="movies">movies</label>

        <input id="cooking" name="indoor-interests[]" value="cooking" type="checkbox">
        <label for="cooking">cooking</label>

        <input id="board-games" name="indoor-interests[]" value="board-games" type="checkbox">
        <label for="board-games">board games</label>

        <input id="puzzles" name="indoor-interests[]" value="puzzles" type="checkbox">
        <label for="puzzles">puzzles</label>

        <input id="reading" name="indoor-interests[]" value="reading" type="checkbox">
        <label for="reading">reading</label>

        <input id="playing-cards" name="indoor-interests[]" value="playing-cards" type="checkbox">
        <label for="playing-cards">playing cards</label>

        <input id="video-games" name="indoor-interests[]" value="video-games" type="checkbox">
        <label for="video-games">video games</label>

        <p>Out-door Interests</p>

        <input id="hiking" name="indoor-interests[]" value="hiking" type="checkbox">
        <label for="hiking">hiking</label>

        <input id="biking" name="indoor-interests[]" value="biking" type="checkbox">
        <label for="biking">biking</label>

        <input id="swimming" name="indoor-interests[]" value="swimming" type="checkbox">
        <label for="swimming">swimming</label>

        <input id="collecting" name="indoor-interests[]" value="collecting" type="checkbox">
        <label for="collecting">collecting</label>

        <input id="walking" name="indoor-interests[]" value="walking" type="checkbox">
        <label for="walking">walking</label>

        <input id="climbing" name="indoor-interests[]" value="climbing" type="checkbox">
        <label for="climbing">climbing</label>

    </form>
</main>

</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>