<!--Form for new user to submit information needed for profile-->
<!--Author: Chad Drennan-->
<!--File: frm-profile.html -->
<!--Date Created: 1/25/2020-->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Site CSS -->
    <link rel="stylesheet" href="/328/dating/styles/site.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/328/dating/images/dating-icon.png">

    <title>My Dating Website</title>
</head>
<body>

<nav class="navbar navbar-light bg-light navbar-expand-lg">
    <a class="navbar-brand" href="/328/dating">My Dating Website</a>
</nav>

<main class="container border rounded clearfix">

    <h1>Profile</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">

            <form action="#" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="photo">Upload an image:</label>
                    <br>
                    <input type="file" name="photo" id="photo">
                    <br>
                    <input class="btn btn-primary mt-2" type="submit" value="Upload" name="photo-submit">

                    <check if="{{ isset(@photoError) }}">
                        <br>
                        <span class="error text-danger">{{ @photoError }}</span>
                    </check>

                    <check if="{{ isset(@photoConfirm) }}">
                        <br>
                        <span class="text-success">{{ @photoConfirm }}</span>
                    </check>
                </div>
            </form>

        </div><!-- col-md-6 -->
        <div class="col-md-6">
            <img class="rounded w-100 mt-4 mt-md-0 mb-2"
                 <check if="{{ isset(@SESSION.picPath) }}">
                     <true>src="/328/dating/{{ @SESSION.picPath }}"</true>
                     <false>src="/328/dating/images/empty-avatar.png"</false>
                 </check>
                 alt="profile pic">
        </div><!-- col-md-6 -->
    </div><!-- row -->

    <form action="#" method="post">
        <div class="row">
            <div class="col-md-6">

                <!-- Email -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" class="form-control" value="{{ @email }}">

                    <check if="{{ in_array('emailRequired', @errors) }}">
                        <span class="error text-danger">Required</span>
                    </check>

                    <check if="{{ in_array('emailInvalid', @errors) }}">
                        <span class="error text-danger">Invalid email format</span>
                    </check>
                </div>

                <!-- State -->
                <div class="form-group">
                    <label for="state">State</label>
                    <select id="state" name="state" class="form-control">
                        <option value="">Select</option>

                        <repeat group="{{ @states }}" key="{{ @abbr }}" value="{{ @name }}">

                            <option value="{{ @abbr }}"
                                <check if="{{ @state == @abbr }}">selected</check>
                            >{{ @name }}</option>

                        </repeat>
                    </select>
                </div>

                <!-- Seeking -->
                <div class="form-group">
                    <p class="mb-2 check-label">Seeking</p>

                    <!-- Male -->
                    <div class="form-check form-check-inline">
                        <input type="radio" name="seeking-gender" id="male" value="male" class="form-check-input"
                            <check if="{{ @seekingGender == 'male' }}">checked</check>
                        >
                        <label for="male" class="form-check-label">Male</label>
                    </div>

                    <!-- Female -->
                    <div class="form-check form-check-inline">
                        <input type="radio" name="seeking-gender" id="female"  value="female" class="form-check-input"
                            <check if="{{ @seekingGender == 'female' }}">checked</check>
                        >
                        <label for="female" class="form-check-label">Female</label>
                    </div>
                </div>

            </div> <!-- col-md-6 -->

            <div class="col-md-6">

                <!-- Biography -->
                <div class="form-group">
                    <label for="bio">Biography</label>
                    <textarea name="bio" id="bio" cols="30" rows="6" class="form-control">{{ @bio }}</textarea>
                </div>

            </div> <!-- col-md-6 -->
        </div><!-- row -->

        <button class="btn btn-primary float-right" type="submit">Next ></button>
    </form>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>

