/** {*/
/*    box-sizing: border-box;*/
/*}*/

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 35px;
}

.form-group > label, .check-label {
    font-weight: bold;
}

/*label {*/
/*    width: 195px;*/
/*    padding-right: 100px;*/
/*}*/