* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Center non-block elements as block elements */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
}

#content {
    width: 50%;
    padding: 35px 40px;
}

/* To crop image around the edges and fill in the space */
.crop-container {
    width: 50%;
    height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /* Make absolute so this is ignored when calculating parents height */
    position: absolute;
    top: 0;
    right: 0;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

img {
    width: 100%;
    height: 100%;
    /* To crop image instead of changing aspect ratio */
    object-fit: cover;
}

#quotes {
    margin-top: 35px;
    margin-bottom: 35px;
}

#quotes > p {
    margin-left: 25px;
}

#title {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .crop-container {
        display: none;
    }

    #content {
        width: 100%;
    }
}

